<mat-sidenav-container class="dashboard-container">
  <mat-sidenav #sidenav 
               [mode]="isMobile ? 'over' : 'side'" 
               [opened]="!isMobile || sidebarOpened"
               [ngClass]="{ 'collapsed': isMobile && !sidebarOpened }">

    <mat-nav-list>
      
        <button mat-button (click)="seleccionarSeccion('inicio'); closeOnMobile()">
          🏠 <span class="item-label">Inicio</span>
        </button>
      
      
        <button mat-button (click)="seleccionarSeccion('crear-cultivo'); closeOnMobile()">
          🌱 <span class="item-label">Crear cultivo</span>
        </button>
      
      
        <button mat-button (click)="seleccionarSeccion('mis-cultivos'); closeOnMobile()">
          🌾 <span class="item-label">Mis cultivos</span>
        </button>
      
      
        <button mat-button (click)="seleccionarSeccion('mis-cronogramas'); closeOnMobile()">
          📅 <span class="item-label">Mis cronogramas</span>
        </button>
      

      <div class="user-section" *ngIf="!isMobile || sidebarOpened">
        <mat-divider></mat-divider>
        
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item>Modificar información</button>
            <button mat-menu-item>Cambiar contraseña</button>
            <button mat-menu-item>Cerrar sesión</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="userMenu">👤 Usuario</button>
        
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
 
      <button mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile">
        <mat-icon>menu</mat-icon>
      </button>


    <div class="dashboard-content">
      <ng-container [ngSwitch]="seccion">
        <ng-container *ngSwitchCase="'inicio'">
          <h2 class="texto-1">Bienvenido al Panel de Control</h2>
          <app-clima-cards></app-clima-cards>
          <div class="card-container">
            <mat-card>
              <app-cultivo-list [soloReciente]="true"></app-cultivo-list>
            </mat-card>
            <mat-card>
              <div class="custom-wrapper">
                <app-cronograma-list [soloReciente]="true"></app-cronograma-list>
              </div>
            </mat-card>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'crear-cultivo'">
          <app-crear-cultivo></app-crear-cultivo>
        </ng-container>

        <ng-container *ngSwitchCase="'mis-cultivos'">
          <app-cultivo-list></app-cultivo-list>
        </ng-container>

        <ng-container *ngSwitchCase="'mis-cronogramas'">
          <app-cronograma-list></app-cronograma-list>
        </ng-container>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
