<mat-card class="login-card">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" type="username" placeholder="demo@demo.com">
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">El correo es obligatorio</mat-error>
        <mat-error *ngIf="loginForm.get('username')?.hasError('username')">Correo no válido</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" placeholder="1234">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
    </form>
    <div class="register-link-container">
      <span>¿No tienes cuenta? </span>
      <a routerLink="/register" class="register-link">Regístrate</a>
    </div>
  </mat-card>
  